@import 'variables.scss';

.section--portfolio {
    background: $color--bg;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.section--portfolio__item {
    background: url('../images/laurenmecum.com.png') no-repeat center center;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(33.3333% - 20px);
    height: 200px;
    @include box-shadow();
    transition: width .5s, height .5s;
}

.section--portfolio__item--selected {
    width: 100%;
}